params {
    read_dir = ""
    results_dir = ""
    script_dir = ""
    db_dir = ""
}

profiles {
    standard {
        process {
            memory = "6GB"
            cpus = 2
        }
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
            sudo = true
        }
    }

    scicomp {
        process {
            memory = "32GB"
            cpus = 4
        }
        singularity {
            enabled = true
            cacheDir = "$PWD"
            autoMounts = false
            runOptions = '-B $PWD -B readlink -f .'        
        }
    }
}
